body{
	margin:0px;
}

h1{
	display: inline-block;
	width:40%;	
	padding-left:5%;
}


nav{
	display:inline-block;
	float:right;
	width:50%;
}

.headlink{
	display:none;
}
img.hamburger{
	width:20%;
	float:right;
	padding-top:15px;
}


header{
	background-color:#666666;
	position:fixed;
}

.responsivemenu{
	display:block;
	float:right;
	width:30%;
	padding-top:45px;
	position:fixed;
}


@media screen and (min-width: 1200px) {
  .headlink {
    display: inline-block;
	padding-top:15px;
	background-color:#FF0000;
	color:green;
  }
  .hamburger{
	display:none;
  }
}
